DATABASE_URL="postgresql://docker:docker@localhost:5432/pierre"
JWT_SECRET="YOUR_JWT_SECRET"
ACCESS_COOKIE_NAME="your_token"
REFRESH_COOKIE_NAME="your_token"
GOOGLE_CLIENT_ID=seu-client-id
GOOGLE_CLIENT_SECRET=seu-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

JWT_ACCESS_EXPIRES = "15m"
JWT_REFRESH_EXPIRES = "30d"