DATABASE_URL="postgresql://docker:docker@localhost:5432/pierre"
JWT_SECRET="YOUR_JWT_SECRET"
ACCESS_COOKIE_NAME="your_token"
REFRESH_COOKIE_NAME="your_token"

JWT_ACCESS_EXPIRES = "15m"
JWT_REFRESH_EXPIRES = "30d"